include LICENSE
include README.md
include README_KAGGLE.md
recursive-include data *.csv *.json *.json.gz
recursive-include benchmarks *.py
recursive-include engine CMakeLists.txt *.cpp *.hpp *.h
recursive-include notebooks *.ipynb
